<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
</head>
<body>
    <div>
        <!--form
            action="/fileToPdf/"
            enctype="multipart/form-data"
            method="post"
        > {% csrf_token %}
            <input name="file" type="file" multiple>
            <input type="submit">
        </form-->
        <hr>
        <form
            action="/fileToPdf/"
            enctype="multipart/form-data"
            method="post"
        > {% csrf_token %}
            <table border="1">
                {{ form.as_table }}
            </table>
            <input type="submit">
        </form>
    </div>
</body>
</html>